

main.container {
    border: hidden;
    padding: 1em;
    height: 100%;
}

main.container .new-tweet {
    border: 2px solid #eee;
    background-color: #eee;
    border-radius: 5px;
    margin: 1em;
    opacity: 0.6;
}

main.container .new-tweet:hover {
    opacity: 1;
}

main.container .new-tweet > h2 {
    margin: 0.5em;
    position: relative;
    border-bottom: 2px solid black;

}

section.new-tweet form {
    display: flex;
    flex-direction: column;
    margin: 0.5em;
}

section.new-tweet form > textarea {
    justify-self: flex-start;
    align-self: center;
    width: 100%;
}

.new-tweet footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.new-tweet footer > input {
    justify-self: flex-start;
}

.new-tweet header {
    display: flex;
    justify-content: space-between;
}

.new-tweet header > h2 {
    margin: 0 0.5em;
    height: 2em;
}

.new-tweet header > h3 {
    margin: 0 0.5em;
    height: 2em;
}

.new-tweet header > h2:before {
    content: "ablasdflks""
    
}
article.new-tweet p {
    background: white;
    margin: 0 auto;
    width: 100%;
    border
}