main.container {
    border: hidden;
    padding: 1em;
    height: 100%;
}

main.container .new-tweet {
    border: 2px solid #eee;
    background-color: #eee;
    border-radius: 5px;
    margin: 1em;
    z-index: 2;
}

main.container .new-tweet:hover {
    filter: brightness(103%);
}

main.container .new-tweet > h2 {
    margin: 0.5em;
    position: relative;
    border-bottom: 2px solid black;
}

.disappear {
    display: none;
}

section.new-tweet form {
    display: flex;
    flex-direction: column;
    margin: 0.5em;
}

section.new-tweet form > textarea {
    justify-self: flex-start;
    align-self: center;
    width: 100%;
}

.new-tweet footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding: 0.5em;
    border-top: 2px solid black;
}

.new-tweet footer > input {
    justify-self: flex-start;
}

.new-tweet header {
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
}

.new-tweet header > h2 {
    margin: 0 0.5em;
    height: 2em;
}

.new-tweet header > h3 {
    margin: 0 0.5em;
    height: 2em;
}

.new-tweet header > img {
    justify-self: flex-start;   
}

article.new-tweet p {
    background: white;
    margin: 0 auto;
    width: 100%;
    padding: 1em;
    word-break: break-word;
}

i {
    opacity: 0;
}

.new-tweet:hover i {
    opacity: 1;
}

.error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    padding:1px 20px 1px 20px;
  }